<!-- HW4: views/dafault/index.html -->

{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var add_image_url  = "{{=URL('api', 'add_image',user_signature=True)}}";
  var get_images_url = "{{=URL('api', 'get_image_list')}}";
  var get_users_url  = "{{=URL('api', 'get_users',user_signature=True)}}";
</script>


{{end}}

<div class="main_content">

  <div id="vue-div" class="display:none">
    <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->


    <!-- Show message if the user is NOT logged in. -->
    <div v-if="!logged_in">
        <center> <h2> Login to upload your item or check other user's items </h2> </center>
    </div>


    <!-- Else, if the user IS logged in, show images and list of users. -->
    <div v-else>
    <div class="container padded">
      <!-- <img v-if="show_img" v-bind:src="img_url"/> -->
      <div class="image_space threequarters">
        <!-- Left part of the page -->
        <div v-if="self_page">
          <!-- Code to upload files, with control buttons -->
          <div id="uploader_div" style="display:none">
            Upload an image file: <input id="file_input" type="file" v-on:change="upload_file" accept="image/jpeg">
              Set price of item: <input id="file_input" type="number">
          </div>

          <!-- The add button will show when not clicked on already. -->
          <button v-if="!is_uploading" v-on:click="open_uploader"><i class="fa fa-plus"></i></button>
            <button v-if="!is_uploading" v-on:click="">Checkout</button>
          <!-- Cancel button when user no longer want to upload an image. -->
          <button v-if="is_uploading" v-on:click="close_uploader">Cancel</button>
            <button v-if="is_uploading" v-on:click="upload_file">Submit</button>
        </div>

        <div class="image_container">
          <!-- Put here the code to display the images -->
          <ul class="container">
            <!-- The following is an example -->
            <li v-for="image in images" class="card lifted padded quarter">
              <img v-bind:src="image.image_url" height="200px" width="200px" class="padded"/>
                <h6>Price: </h6>
                <button><i class="fa fa-shopping-cart"></i></button>

            </li>

          </ul>
        </div>

      </div>

      <!-- The space to the right side of the page, showing a list of
           users and being able to interact with them. -->
      <div class="user_space quarter right">
        <!-- Right part of the page -->
          <table class="fill" id="user_selector">
            <tbody>
              <tr class="center" v-for="user in users" @click="get_image_list(user.id)">
                <!-- This row is you; code for getting your own images, and for setting self_page -->
                  <td>
                      <!-- <button v-on:click="doSomething"><h5>${user.firstName}</h5></button> -->
                      <h5>${user.firstName}</h5>
                  </td>
              </tr>
              <!-- Then, one row for each person. -->
            </tbody>
          </table>
      </div>

    </div>
    </div>
  </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
